/* IBM Plex Mono via Google Fonts - https://fonts.google.com/specimen/IBM+Plex+Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

* {
    font-size: 1em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #090909;
    color: #dfdfdf;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
}

h2 {
    padding-top: 20px;
    line-height: 1.5;
}

section.row {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    height: 1vh;
    z-index: -2;
}

div.pixel {
    width: 1vw;
    height: 1vh;
}

/* 
section.divs {  
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

section.divs div {
    width: 10vw;
    height: 10vh;
}

section#divs1 div {
    background-color: #fff;
}

section#divs1 div:nth-child(2) {
    height: 11vh;
}

section#divs1 div:nth-child(3) {
    height: 12vh;
}

section#divs1 div:nth-child(4) {
    height: 13vh;
}

section#divs1 div:nth-child(5) {
    height: 14vh;
}

section#divs1 div:nth-child(6) {
    height: 15vh;
}

section#divs1 div:nth-child(7) {
    height: 16vh;
}

section#divs1 div:nth-child(8) {
    height: 17vh;
}

section#divs1 div:nth-child(9) {
    height: 18vh;
}

section#divs1 div:nth-child(10) {
    height: 19vh;
}

section#divs2 {
    flex-direction: column;
}

section#divs2 div {
    background-color: #fff;
}

section#divs2 div:nth-child(2) {
    width: 11vw;
}

section#divs2 div:nth-child(3) {
    width: 12vw;
}

section#divs2 div:nth-child(4) {
    width: 13vw;
}

section#divs2 div:nth-child(5) {
    width: 14vw;
}

section#divs2 div:nth-child(6) {
    width: 15vw;
}

section#divs2 div:nth-child(7) {
    width: 16vw;
}

section#divs2 div:nth-child(8) {
    width: 17vw;
}

section#divs2 div:nth-child(9) {
    width: 18vw;
}

section#divs2 div:nth-child(10) {
    width: 19vw;
}

section#divs3 {
    transform-origin: center left;
    transform: rotateZ(45deg) translateX(-15vw) translateY(-12vw);
    align-items: center;
}

section#divs3 div {
    background-color: #fff;
}

section#divs3 div:nth-child(2) {
    height: 11vh;
}

section#divs3 div:nth-child(3) {
    height: 12vh;
}

section#divs3 div:nth-child(4) {
    height: 13vh;
}

section#divs3 div:nth-child(5) {
    height: 14vh;
}

section#divs3 div:nth-child(6) {
    height: 15vh;
}

section#divs3 div:nth-child(7) {
    height: 16vh;
}

section#divs3 div:nth-child(8) {
    height: 17vh;
}

section#divs3 div:nth-child(9) {
    height: 18vh;
}

section#divs3 div:nth-child(10) {
    height: 19vh;
}

section#divs3 div:nth-child(11) {
    height: 20vh;
}

section#divs3 div:nth-child(12) {
    height: 21vh;
}

section#divs3 div:nth-child(13) {
    height: 22vh;
}

section#divs3 div:nth-child(14) {
    height: 23vh;
}

section#divs3 div:nth-child(15) {
    height: 24vh;
}
section#divs3 div:nth-child(16) {
    height: 25vh;
}
section#divs3 div:nth-child(17) {
    height: 26vh;
} */
