/* IBM Plex Mono via Google Fonts - https://fonts.google.com/specimen/IBM+Plex+Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

* {
    font-size: 1em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #090909;
    color: #dfdfdf;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
}

main {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

text.hello {
    font-family: 'IBM Plex Mono';
    fill: #dfdfdf;
    position: fixed;
    opacity: 0;
    font-size: 36px;
}

#blob {
    opacity: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav a {
    padding: 50px;
    text-decoration: none;
    color: #dfdfdf;
    font-size: 36px;
}

nav a:hover {
    opacity: 0.5;
}