// adding in some less (http://lesscss.org) to group the pixels

@orange: #FF5A36;
@blue: #19647E;
@gray: #B2ABBF;
@yellow: #EDEEC9;
@black: #090909;
#row1, #row2, #row3, #row4, #row5, #row6, #row7, #row8, #row9, #row10, #row11, #row12, #row13, #row14, #row15, #row16, #row17, #row18, #row51, #row52, #row53, #row54, #row55, #row56, #row57, #row58, #row59, #row60, #row61, #row62, #row63, #row64, #row65, #row66, #row67, #row68{
    .pixel1 {
        background-color: @orange;
    }
}

#row17, #row18, #row67, #row68 {
    .pixel2, .pixel3, .pixel4, .pixel5 {
        background-color: @orange;
    }
}

#row17, #row18, #row19, #row20, #row21, #row22, #row23, #row24, #row25, #row26, #row27, #row67, #row68, #row69, #row70, #row71, #row72, #row73, #row74, #row75, #row76, #row77 {
    .pixel6, .pixel7, .pixel8 {
        background-color: @orange;
    }
}

 #row20, #row21, #row22, #row23, #row24, #row25, #row26, #row27, #row70, #row71, #row72, #row73, #row74, #row75, #row76, #row77 {
    .pixel9, .pixel10, .pixel11 {
        background-color: @orange;
    }
}

 #row26, #row27, #row76, #row77 {
    .pixel12, .pixel13 {
        background-color: @orange;
    }
}

#row22, #row23, #row24, #row25, #row26, #row27, #row72, #row73, #row74, #row75, #row76, #row77 {
    .pixel14, .pixel15, .pixel16, .pixel17 {
        background-color: @orange;
    }
}

#row21, #row22, #row23, #row24, #row25, #row71, #row72, #row73, #row74, #row75 {
    .pixel18, .pixel19, .pixel20, .pixel21, .pixel22, .pixel23 {
        background-color: @orange;
    }
}

#row15, #row16, #row17, #row18, #row19, #row20, #row21, #row22, #row23, #row24, #row25, #row65, #row66, #row67, #row68, #row69, #row70, #row71, #row72, #row73, #row74, #row75 {
    .pixel24, .pixel25, .pixel26 {
        background-color: @orange;
    }
}

#row15, #row16, #row17, #row18, #row19, #row20, #row65, #row66, #row67, #row68, #row69, #row70 {
    .pixel27, .pixel28, .pixel29, .pixel30, .pixel31 {
        background-color: @orange;
    }
}

#row17, #row18, #row19, #row20, #row21, #row22, #row23, #row24, #row25, #row26, #row67, #row68, #row69, #row70, #row71, #row72, #row73, #row74, #row75, #row76, #row77 {
    .pixel32, .pixel33, .pixel35, .pixel36, .pixel37 {
        background-color: @orange;
    }
}

 #row19, #row20, #row21, #row22, #row23, #row24, #row69, #row70, #row71, #row72, #row73, #row74, #row75 {
    .pixel34 {
        background-color: @orange;
    }
}

#row15, #row16, #row17, #row18, #row19, #row20, #row21, #row22, #row23, #row65, #row66, #row67, #row68, #row69, #row70, #row71, #row72, #row73, #row74  {
    .pixel38, .pixel39, .pixel40, .pixel41, .pixel42 {
        background-color: @orange;
    }
}

#row15, #row16, #row17, #row18, #row19, #row20, #row65, #row66, #row67, #row68, #row69, #row70, #row71 {
    .pixel43, .pixel44, .pixel45 {
        background-color: @orange;
    }
}

#row15, #row16, #row17, #row18, #row65, #row66, #row67, #row68, #row69  {
    .pixel46, .pixel47, .pixel48, .pixel49, .pixel50 {
        background-color: @orange;
    }
}


#row17, #row18, #row19, #row20, #row21, #row22, #row23, #row67, #row68, #row69, #row70, #row71, #row72, #row73, #row74  {
    .pixel51, .pixel52 {
        background-color: @orange;
    }
}

#row17, #row18, #row19, #row20, #row21, #row22, #row23, #row24, #row25, #row26, #row27,  #row67, #row68, #row69, #row70, #row71, #row72, #row73, #row74, #row75, #row76, #row77  {
    .pixel53, .pixel54, .pixel55 {
        background-color: @orange;
    }
}